attr
config.log
config.status
getfattr
libattr.la
libattr.pc
libmisc.la
libtool
Makefile
setfattr
.libs/attr
.libs/getfattr
.libs/libattr.a
.libs/libattr.la
.libs/libattr.lai
.libs/libattr.so
.libs/libattr.so.1
.libs/libattr.so.1.1.2501
.libs/libmisc.a
.libs/libmisc.la
.libs/setfattr
include/attr
include/config.h
include/stamp-h1
libattr/.dirstamp
libattr/la-attr_copy_action.lo
libattr/la-attr_copy_action.o
libattr/la-attr_copy_check.lo
libattr/la-attr_copy_check.o
libattr/la-attr_copy_fd.lo
libattr/la-attr_copy_fd.o
libattr/la-attr_copy_file.lo
libattr/la-attr_copy_file.o
libattr/la-libattr.lo
libattr/la-libattr.o
libattr/la-syscalls.lo
libattr/la-syscalls.o
libattr/.deps/.dirstamp
libattr/.deps/la-attr_copy_action.Plo
libattr/.deps/la-attr_copy_check.Plo
libattr/.deps/la-attr_copy_fd.Plo
libattr/.deps/la-attr_copy_file.Plo
libattr/.deps/la-libattr.Plo
libattr/.deps/la-syscalls.Plo
libattr/.libs/la-attr_copy_action.o
libattr/.libs/la-attr_copy_check.o
libattr/.libs/la-attr_copy_fd.o
libattr/.libs/la-attr_copy_file.o
libattr/.libs/la-libattr.o
libattr/.libs/la-syscalls.o
libmisc/.dirstamp
libmisc/high_water_alloc.lo
libmisc/high_water_alloc.o
libmisc/next_line.lo
libmisc/next_line.o
libmisc/quote.lo
libmisc/quote.o
libmisc/unquote.lo
libmisc/unquote.o
libmisc/walk_tree.lo
libmisc/walk_tree.o
libmisc/.deps/.dirstamp
libmisc/.deps/high_water_alloc.Plo
libmisc/.deps/next_line.Plo
libmisc/.deps/quote.Plo
libmisc/.deps/unquote.Plo
libmisc/.deps/walk_tree.Plo
libmisc/.libs/high_water_alloc.o
libmisc/.libs/next_line.o
libmisc/.libs/quote.o
libmisc/.libs/unquote.o
libmisc/.libs/walk_tree.o
po/Makefile
po/Makefile.in
po/POTFILES
tools/.dirstamp
tools/attr.o
tools/getfattr.o
tools/setfattr.o
tools/.deps/.dirstamp
tools/.deps/attr.Po
tools/.deps/getfattr.Po
tools/.deps/setfattr.Po
