/host_output
/output
/avahi-0.7
/expat-2.4.3
/libdaemon-0.14
/iperf-3.10.1
/alsa-utils-1.2.5.1
/alsa-lib-1.2.5
/attr-2.5.1
/lrzsz-0.12.20
/trace-cmd-v2.9.5
/dtc-1.6.1
/tree-1.8.0
/mtd-utils-2.1.2
/lzo-2.10
/libuuid-1.0.3
/libffi-3.4.2
/fontconfig-2.13.94
/libxml2-2.9.12
/cups-2.3.1
/freetype-2.11.0
/libpng-1.6.34
/zlib-1.2.11
/make-4.3