/host_output
/output
/avahi-0.7
/expat-2.4.3
/libdaemon-0.14
/ncurses-6.2
/sudo-SUDO_1_9_7p1
/tree-1.8.0
/make-4.3
/libevent-2.1.12-stable
/libmnl-1.0.4
/ethtool-5.13
/openssl-1.1.1j
/zlib-1.2.11
/openssh-8.6p1
/libpng-1.6.34
/freetype-2.11.0
/cups-2.3.1
/libxml2-2.9.12
/fontconfig-2.13.94
/libffi-3.4.2
/alsa-lib-1.2.5
/alsa-utils-1.2.5.1
/libuuid-1.0.3
/lzo-2.10
/attr-2.5.1
/dtc-1.6.1
/gdb-10.1
/trace-cmd-v2.9.5
/lrzsz-0.12.20
/expat-2.4.3
/libdaemon-0.14
/avahi-0.7
/iperf-3.10.1
/util-linux-2.38
/iproute2-5.9.0
/can-utils-2021.08.0
/confuse-3.3
/libite-2.5.2
/libuev-2.4.0
/watchdogd-3.5
/mtd-utils-2.1.2
/llvm-project-16.0.5.src/*
/llvm-project-16.0.5.src.tar.xz
/qt-everywhere-src-5.15.10/*
/qt-everywhere-opensource-src-5.15.10.tar.xz