#include "quard_star.dtsi"

/ {
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	compatible = "riscv-quard-star";
	model = "riscv-quard-star,qemu";

	chosen {
		bootargs = "root=/dev/vda2 rw console=ttyS0 earlycon=sbi fbcon=map:1023 fbcon=logo-pos:center nokaslr kgdboc=ttyS1,115200 kgdbwait";
		stdout-path = "/soc/uart0@10000000";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x3f800000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,cma@b0000000 {
			compatible = "shared-dma-pool";
			size = <0x0 0xf800000>;
			reg = <0x0 0xb0000000 0x0 0xf800000>;
			alignment = <0x0 0x1000>;
			linux,cma-default;
		};
	};

	sound {
		compatible = "audio-graph-card";
		label = "QUARD_STAR_BOARD";
		dais = <&i2s_port>;
		status = "okay";
	};

	reg_3p3v: regulator {
		compatible = "regulator-fixed";
		regulator-name = "3P3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		status = "okay";
	};

	backlight: backlight {
		compatible = "gpio-backlight";
		gpios = <&gpio 0 0>;
		default-on;
		status = "okay";
	};

	panel {
		compatible = "panel-dpi";
		label = "lcd";
		power-supply = <&reg_3p3v>;
		backlight = <&backlight>;
		status = "okay";

		panel-timing {
			clock-frequency = <25175000>;
			hactive = <640>;
			hback-porch = <40>;
			hfront-porch = <24>;
			hsync-len = <96>;
			vactive = <480>;
			vback-porch = <32>;
			vfront-porch = <11>;
			vsync-len = <2>;
		};

		port {
			lcdc_panel: endpoint {
				remote-endpoint = <&lcdc_pads>;
			};
		};
	};
};

&cpu7 {
	status = "disabled";
};

&fw_cfg {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&pflash {
	status = "okay";
};

&rtc {
	status = "okay";
};

&i2c0 {
	status = "okay";
	
	eeprom: eeprom@50 {
		compatible = "atmel,24c64";
		reg = <0x50>;
		vcc-supply = <&reg_3p3v>;
	};
};

&i2c1 {
	status = "okay";

	codec: wm8750@1a {
		compatible = "wlf,wm8750";
		reg = <0x1a>;
		codec_port: port {
			codec_endpoint: endpoint {
				remote-endpoint = <&i2s_endpoint>;
			};
		};
	};
};

&i2c2 {
	status = "okay";
};

&qspi0 {
	status = "okay";
	
	flash@0 {
		compatible = "macronix,mx25l25635e", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <50000000>;
		m25p,fast-read;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				reg = <0x00000000 0xC00000>;
				label = "spi0_0_fw_image";
				read-only;
			};
			partition@C00000 {
				reg = <0x00C00000 0x1400000>;
				label = "spi0_0_user";
			};
		};
	};
};

&qspi1 {
	status = "okay";
	
	spidev@0{
        compatible = "spidev";
        reg = <0>;
        spi-max-frequency = <4000000>;
    };
};

&gpio {
	status = "okay";
};

&sdmmc {
	status = "okay";
};

&usb {
	status = "okay";
};

&i2s {
	status = "okay";

	i2s_port: port {
		i2s_endpoint: endpoint {
			remote-endpoint = <&codec_endpoint>;
			dai-format = "i2s";
			frame-master;
			bitclock-master;
		};
	};
};

&nand {
	status = "okay";
};

&can {
	status = "okay";
};

&wdt {
	status = "okay";
};

&pwm {
	status = "okay";
};

&adc {
	status = "okay";
};

&timer {
	status = "okay";
};

&eth {
	status = "okay";
};

&lcdc {
	status = "okay";
	u-boot,dm-pre-reloc;

	port {
		lcdc_pads: endpoint {
			remote-endpoint = <&lcdc_panel>;
		};
	};

	display-timings { /* only for u-boot */
		u-boot,dm-pre-reloc;
		640x480 {
			clock-frequency = <25175000>;
			hactive = <640>;
			hback-porch = <40>;
			hfront-porch = <24>;
			hsync-len = <96>;
			vactive = <480>;
			vback-porch = <32>;
			vfront-porch = <11>;
			vsync-len = <2>;
			u-boot,dm-pre-reloc;
		};
	};
};

&dma {
	status = "okay";
};

&syscon {
	status = "okay";
};

&reboot {
	status = "okay";
};

&virtio_mmio0 {
	status = "okay";
};

&virtio_mmio1 {
	status = "okay";
};

&virtio_mmio2 {
	status = "okay";
};

&virtio_mmio3 {
	status = "okay";
};

&virtio_mmio4 {
	status = "okay";
};

&virtio_mmio5 {
	status = "okay";
};

&virtio_mmio6 {
	status = "okay";
};

&virtio_mmio7 {
	status = "okay";
};
