#include "quard_star.dtsi"

/ {
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	compatible = "riscv-quard-star";
	model = "riscv-quard-star,qemu";

	chosen {
		bootargs = "root=/dev/vda2 rw console=ttyS0 earlycon=sbi";
		stdout-path = "/soc/uart0@10000000";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x40000000>;
	};
};

&cpu7 {
	status = "disabled";
};

&fw_cfg {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&pflash {
	status = "okay";
};

&rtc {
	status = "okay";
};

&i2c0 {
	status = "okay";
	
	eeprom: eeprom@50 {
		compatible = "atmel,24c64";
		reg = <0x50>;
	};
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&qspi0 {
	status = "okay";
	
	flash@0 {
		compatible = "issi,is25wp256", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <50000000>;
		m25p,fast-read;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};
};

&qspi1 {
	status = "okay";
};

&test {
	status = "okay";
};

&reboot {
	status = "okay";
};

&virtio_mmio0 {
	status = "okay";
};

&virtio_mmio1 {
	status = "okay";
};

&virtio_mmio2 {
	status = "okay";
};

&virtio_mmio3 {
	status = "okay";
};

&virtio_mmio4 {
	status = "okay";
};

&virtio_mmio5 {
	status = "okay";
};

&virtio_mmio6 {
	status = "okay";
};

&virtio_mmio7 {
	status = "okay";
};