# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1
_openmp_mutex=4.5
ca-certificates=2021.10.8
ld_impl_linux-64=2.36.1
libffi=3.4.2
libgcc-ng=11.2.0
libgomp=11.2.0
libzlib=1.2.11
ncurses=6.2
openssl=3.0.0
pip=21.3.1
python=3.9.7
python_abi=3.9
readline=8.1
setuptools=59.2.0
sqlite=3.36.0
tk=8.6.11
tzdata=2021e
wheel=0.37.0
xz=5.2.5
zlib=1.2.11
