# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
*.obj
*.pch
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build-*
.qmake.stash
*_resource.rc

# QtCreator

*.autosave
/build_debug
/build_release

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake

CMakeLists.txt.user*

# vscode

/.vscode