build.cfg
config.log
config.status
make
Makefile
doc/Makefile
lib/alloca.h
lib/basename-lgpl.o
lib/concat-filename.o
lib/dirname-lgpl.o
lib/exitfail.o
lib/fcntl.h
lib/fcntl.o
lib/fd-hook.o
lib/findprog-in.o
lib/getprogname.o
lib/libgnu.a
lib/limits.h
lib/Makefile
lib/stdio.h
lib/stdlib.h
lib/strerror-override.o
lib/strerror.o
lib/string.h
lib/stripslash.o
lib/unistd.h
lib/unistd.o
lib/xalloc-die.o
lib/xconcat-filename.o
lib/xmalloc.o
lib/.deps/access.Po
lib/.deps/alloca.Po
lib/.deps/basename-lgpl.Po
lib/.deps/close.Po
lib/.deps/concat-filename.Po
lib/.deps/dirname-lgpl.Po
lib/.deps/dup2.Po
lib/.deps/error.Po
lib/.deps/exitfail.Po
lib/.deps/fcntl.Po
lib/.deps/fd-hook.Po
lib/.deps/findprog-in.Po
lib/.deps/fnmatch.Po
lib/.deps/getdtablesize.Po
lib/.deps/getloadavg.Po
lib/.deps/getprogname.Po
lib/.deps/glob.Po
lib/.deps/malloc.Po
lib/.deps/msvc-inval.Po
lib/.deps/msvc-nothrow.Po
lib/.deps/stpcpy.Po
lib/.deps/strerror-override.Po
lib/.deps/strerror.Po
lib/.deps/stripslash.Po
lib/.deps/unistd.Po
lib/.deps/xalloc-die.Po
lib/.deps/xconcat-filename.Po
lib/.deps/xmalloc.Po
lib/sys/types.h
po/Makefile
po/Makefile.in
po/POTFILES
src/.dirstamp
src/ar.o
src/arscan.o
src/commands.o
src/config.h
src/default.o
src/dir.o
src/expand.o
src/file.o
src/function.o
src/getopt.o
src/getopt1.o
src/guile.o
src/hash.o
src/implicit.o
src/job.o
src/load.o
src/loadapi.o
src/main.o
src/misc.o
src/output.o
src/posixos.o
src/read.o
src/remake.o
src/remote-stub.o
src/rule.o
src/signame.o
src/stamp-h1
src/strcache.o
src/variable.o
src/version.o
src/vpath.o
src/.deps/.dirstamp
src/.deps/amiga.Po
src/.deps/ar.Po
src/.deps/arscan.Po
src/.deps/commands.Po
src/.deps/default.Po
src/.deps/dir.Po
src/.deps/expand.Po
src/.deps/file.Po
src/.deps/function.Po
src/.deps/getopt.Po
src/.deps/getopt1.Po
src/.deps/guile.Po
src/.deps/hash.Po
src/.deps/implicit.Po
src/.deps/job.Po
src/.deps/load.Po
src/.deps/loadapi.Po
src/.deps/main.Po
src/.deps/misc.Po
src/.deps/output.Po
src/.deps/posixos.Po
src/.deps/read.Po
src/.deps/remake.Po
src/.deps/remote-cstms.Po
src/.deps/remote-stub.Po
src/.deps/rule.Po
src/.deps/signame.Po
src/.deps/strcache.Po
src/.deps/variable.Po
src/.deps/version.Po
src/.deps/vms_exit.Po
src/.deps/vms_export_symbol.Po
src/.deps/vms_progname.Po
src/.deps/vmsfunctions.Po
src/.deps/vmsify.Po
src/.deps/vpath.Po
src/w32/.deps/pathstuff.Po
src/w32/.deps/w32os.Po
src/w32/compat/.deps/dirent.Po
src/w32/compat/.deps/posixfcn.Po
src/w32/subproc/.deps/misc.Po
src/w32/subproc/.deps/sub_proc.Po
src/w32/subproc/.deps/w32err.Po
tests/config-flags.pm
