*~
*.o
*.lo
*.la
*.a
*.so
*.exe
*.orig
*.gcda
*.gcno
*.gcov
.deps/
.libs/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
check/config.sh
*config.cache
config.guess
config.h
config.h.in
config.log
config.lt
config.status
config.sub
configure
depcomp
glib-1.2.10/
install-sh
libtool
ltmain.sh
missing
pkg-config
stamp-h1
pkg.m4
