# SPDX-License-Identifier: GPL-2.0-only
menu "Quard Star SOC audio support"

config SND_SOC_QUARD_STAR_I2S
	tristate "Quard Star I2S interface support"
	depends on OF || COMPILE_TEST
	depends on SND_SOC
	select SND_SOC_GENERIC_DMAENGINE_PCM
	select REGMAP_MMIO
	help
	  Say Y if you want to enable I2S for Quard Star SOC
endmenu
