/config.cache
/config.h
/config.log
/config.status
/Makefile
/Specfile
/stamp-h
/systype
/debian/rules
/intl/Makefile
/intl/po2tbl.sed
/lib/error.o
/lib/libzmodem.a
/lib/long-options.o
/lib/Makefile
/lib/xstrtol.o
/lib/xstrtoul.o
/man/Makefile
/po/Makefile
/po/Makefile.in
/po/POTFILES
/src/canit.o
/src/crctab.o
/src/lrz
/src/lrz.o
/src/lrzszbug
/src/lsyslog.o
/src/lsz
/src/lsz.o
/src/Makefile
/src/protname.o
/src/rbsb.o
/src/tcp.o
/src/timing.o
/src/zm.o
/src/zperr.o
/src/zreadline.o
/testsuite/Makefile
