/.autom4te.cache
/ChangeLog
/Makefile
/Makefile.in
/aclocal.m4
/announcement
/bin/aclocal
/bin/aclocal-1.*
/bin/automake
/bin/automake-1.*
/config.cache
/config.log
/config.status
/config.status.lineno
/configure
/configure.lineno
/contrib/t/*.dir
/contrib/t/*.log
/contrib/t/*.trs
/doc/.dirstamp
/doc/aclocal*.1
/doc/amhello-*.tar.gz
/doc/amhello/Makefile.in
/doc/amhello/aclocal.m4
/doc/amhello/compile
/doc/amhello/config.h.in
/doc/amhello/config.h.in~
/doc/amhello/configure
/doc/amhello/depcomp
/doc/amhello/install-sh
/doc/amhello/missing
/doc/automake*.1
/doc/automake*.dvi
/doc/automake*.html
/doc/automake*.info
/doc/automake*.info-[0-9]
/doc/automake*.pdf
/doc/automake*.ps
/doc/automake*.t2d/
/doc/automake*.t2p/
/doc/stamp-vti
/doc/version.texi
/doc/web-manual
/lib/Automake/Config.pm
/maintainer/autoconf-*.tar.gz
/maintainer/autoconf-*/
/pre-inst-env
/runtest
/t/*-w.sh
/t/*-w.tap
/t/*.dir
/t/*.log
/t/*.trs
/t/ax/cc-no-c-o
/t/ax/shell-no-trail-bslash
/t/ax/test-defs.sh
/t/depcomp-*.tap
/t/perf/*.log
/t/perf/*.trs
/t/pm/*.log
/t/pm/*.trs
/t/testsuite-part.am
/test-suite.log
TAGS
cscope.files
cscope.in.out
cscope.out
cscope.po.out
tags
