<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app would like to connect to devices on your local network to enable remote control and screen sharing features.</string>
	<key>UIUserInterfaceStyle</key>
	<string>Automatic</string>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
		<string>wifi</string>
	</array>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh</string>
		<string>ja</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon29x29.png</string>
				<string>AppIcon29x29@2x.png</string>
				<string>AppIcon40x40@2x.png</string>
				<string>AppIcon57x57.png</string>
				<string>AppIcon57x57@2x.png</string>
				<string>AppIcon60x60@2x.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon29x29.png</string>
				<string>AppIcon29x29@2x.png</string>
				<string>AppIcon40x40@2x.png</string>
				<string>AppIcon57x57.png</string>
				<string>AppIcon57x57@2x.png</string>
				<string>AppIcon60x60@2x.png</string>
				<string>AppIcon29x29~ipad.png</string>
				<string>AppIcon29x29@2x~ipad.png</string>
				<string>AppIcon40x40~ipad.png</string>
				<string>AppIcon40x40@2x~ipad.png</string>
				<string>AppIcon50x50~ipad.png</string>
				<string>AppIcon50x50@2x~ipad.png</string>
				<string>AppIcon72x72~ipad.png</string>
				<string>AppIcon72x72@2x~ipad.png</string>
				<string>AppIcon76x76~ipad.png</string>
				<string>AppIcon76x76@2x~ipad.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>Anonymous.weatherinfo</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${QMAKE_SHORT_VERSION}</string>
	<key>CFBundleVersion</key>
	<string>${QMAKE_FULL_VERSION}</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Quard</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location services needed to give local weather forecast</string>
	<key>UILaunchStoryboardName</key>
	<string>Launch</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<string>YES</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
</dict>
</plist>
